*.class
*.log

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/gradle/wrapper/
/.gitattributes

# Ignore iceberg warehouse
src/main/resources/warehouse

# Ignore Idea files
/IcebergDemo.iml
/IcebergDemo.ipr
/IcebergDemo.iws
.idea
